.firstsection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 3.6rem;
  font-weight: bold;
  color: #fe6b25;
}
.About {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}
.aboutdetail {
  border-right: 3px solid orangered;
  padding-right: 0.6rem;
  font-weight: 600;
  font-size: 1.1rem;
}

.detai {
  width: 60%;
  padding: 2.5vw;
  align-items: center;
}

.vision {
  margin-top: 2rem;
  margin-left: 1rem;
  font-weight: 600;
}
.visionheading {
  font-size: 1.5rem;
  font-weight: 500;
}
.visiontext {
  font-size: 1.2rem;
}

.photo {
  height: 45vh;
  width: 45vh;
  border: none;
  border-radius: 50%;
  margin: 4rem 2rem;
  align-items: center;
  will-change: transform;
  transition: transform 450ms;
}

.photo:hover {
  transition: transform 125ms;
  transform: translateY(-10px);
}

.images {
  margin-top: 2rem;
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.images-content1,
.images-content2,
.images-content3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.social {
  width: 5vh;
  height: 5vh;
  margin: 1vh 2vh;
}
.badgeimage {
  display: flex;
  justify-content: center;
}
.iconstext {
  margin: 1rem;
  padding-top: 0rem;
  color: rgb(122, 122, 255);
  text-decoration: underline;
  font-size: 1.2rem;
  text-decoration: none;
}
.iconstext:hover {
  color: #fe6b25;
  border-bottom: 1px solid #fe6b25;
}
